<!DOCTYPE html>
<html>
<head>
    <title>Bienvenid@</title>
    <link rel="stylesheet" type="text/css" href="Pagina.css">
    <style>

        html {
    margin: 0 auto;
    max-width: 1200px;
}

body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 25px;
    background-color: #ffcd37;
}

#contenedor {
    margin: 30px 300px;
    width: 300px;
    text-align: center;
    padding: 10px 20px;
    color: white;
    border-radius: 10px;
    background-color: #000000;
}

a{
    text-decoration: none;
    color: white;
}
p{
    font-size: 20px;
}

#imagen{
    width: 300px;
    margin: 10px;
}

    </style>
</head>
<body>
    <h1>&#127881; Felicidades &#127881;</h1>

    <br><br>
    <a href="/" id="contenedor">Inicio</a>


</body>
</html>
